
html, body {
    background-color: #e4e8f0;
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial, sans-serif;
}

/* WRAPPER */

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2c3e50;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container h1 {
    color: white;
    text-decoration: none;
}

.header-container nav a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
}

.header-container nav a:hover {
    color: rgb(207, 200, 200);
}

.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-menu a {
    text-decoration: none;
    transition: color 0.5s ease;
    color: #333;
    font-weight: 500;
}

.nav-menu a:hover {
    color: #0b3d91;
}

/* MAIN LAYOUT */

.layout-container {
    display: flex;
    flex: 1; /* prend tout l’espace vertical restant */ 
}

/* SIDEBAR */

.sidebar {
    width: 240px;
    background-color: #2c3e50;
    color: white;
    padding: 2rem 1rem;
    flex-shrink: 0;
}
.sidebar h2 {
    text-align: center;
}
.sidebar nav ul {
    list-style: none;
    padding: 0;
}
.sidebar nav ul li {
    margin-bottom: 1rem;
}
.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.5s;
}
.sidebar nav ul li a:hover {
    background-color: #34495e;
}

/* MAIN */

main {
    flex: 1;
    padding: 2rem;
    overflow: auto;
}

/* FOOTER */
footer {
    background-color: #2c3e50;
    border-top: 1px solid #e0e0e0;
    color: white;
    text-align: center;
    padding: 1rem;
    flex-shrink: 0;
    margin-top: auto;
}


/* BUTTONS */

.btn, .danger-btn, .success-btn, input::file-selector-button {
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: background-color 0.5s ease;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.btn, input::file-selector-button {
    background: #007bff;
}

.danger-btn {
    background-color: #d11414;
}

.success-btn {
    background-color: #11e643;
}

.btn:hover {
    background-color: #0b84d4;
}

.btn:disabled {
    background-color: rgb(206, 206, 206);
    color:rgb(134, 134, 134);
    cursor: default;
}

.danger-btn:hover {
    background-color: #f13c24;
}

.success-btn:hover {
    background-color: #47e26b;
}

input::file-selector-button {
    margin-right: 5px;
}

/* FORMS */

.info-box {
    display: flex;
    justify-content: center;
    align-items: start;
    
}

.widget {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: auto;
    margin: 0.5em;
}

.info-box > form.widget {
    text-align: center;
}

.info-box > .widget > input[type="email"],
.info-box > .widget > input[type="password"],
.info-box > .widget > input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}

/* LINKS */

.link {
    transition: background-color 0.5s ease;
    color: #333;
    text-decoration: none;
}

.link:hover {
    color:#4b4949;
}

/* FLASH MESSAGES */

.flash-messages {
    margin-bottom: 0.5rem;
}

.flash {
    border-radius: 6px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* TABLES */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 0.95rem;
}

th, td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #ecf0f1;
    color: #2c3e50;
}


/* STATS LIST */

.stats {
    list-style-type: disc;
    color: #555;
    list-style: none; /* on enlève les puces par défaut */
    padding-left: 0;
}

.stats li::marker {
    color: #3498db; /* couleur personnalisée pour les puces */
}

.stats li {
    position: relative;
    padding-left: 1.8em;
    line-height: 1.4;
    font-weight: 500;
    background: #eaf4fc;
    padding: 0.5rem 1rem;
    margin-bottom: 0.7rem;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(52, 152, 219, 0.15);
    font-weight: 600;
    color: #216db3;
}

/* COMMON */

form > input, form > select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}



textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}

/* WIDGET ROWS */

.row, .row-center {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.row {
    align-items: start;
}

.row-center {
    align-items: center;
}

.row > label, .row > select, .row-center > label, .row-center > select {
    display: inline-block;
}

.row > label, .row-center > label, .row > h2, .row-center > h2 {
    white-space: nowrap;
}

/* WIDGET COLUMN */

.column, .column-center, .widget {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-content: stretch;
    /*border: 5px solid red;*/
}

.column > *, .column-center > *, .widget > * {
    /*border: 5px solid rgb(0, 255, 64);*/
    align-self: stretch;
}

.column, .widget {
    align-items: start;
}

.column-center {
    align-items: center;
}

.column, .column-center > .widget {
    margin-bottom: 10px;
}


/* input-label */

.single-liner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: normal;
    align-content: normal;
}

.single-liner > * {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;

    margin: 2.5px;
}

.single-liner > select, .single-liner > input {
    padding:0.6em;
}

.form-liner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
}

.form-liner > * {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}

.form-liner > *:first-child {
    margin-top: 2.5px;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    white-space: nowrap;
}

.form-liner > *:last-child {
    margin-top: 2.5px;
    margin-left: 2.5px;
    margin-bottom: 2.5px;
}

.form-liner > select, .form-liner > input {
    padding: 0.6em;
}

/* inputs style */

select, input, textarea {
    border: 1px solid #ccc;
    border-radius: 6px;
}

.widget .btn, .widget .danger-btn, .widget .success-btn {
    width: 100%;
}

input[type=text]:read-only {
    background-color: rgb(206, 206, 206);
    color:gray;
}


/* FLIPSWITCH */

.flipswitch {
    position: relative;
    width: 63px;
}
.flipswitch input[type=checkbox] {
    display: none;
}
.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 18px;
}
.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.flipswitch-inner:before, .flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.flipswitch-inner:before {
    content: "";
    padding-left: 9px;
    background-color: #007bff;
    color: #FFFFFF;
}
.flipswitch-inner:after {
    content: "";
    padding-right: 9px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
}
.flipswitch-switch {
    width: 29px;
    margin: -0.5px;
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
    margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
    right: 0;
}
