<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Banque{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <div class="page-wrapper">
        <header>
            <div class="header-container">
                <h1>🏦 Ma Banque</h1>
                <nav>
                    {% if session.get('user_id') %}
                    <a href="/home">Accueil</a>
                    <a href="/logout">Déconnexion</a>
                    {% else %}
                    <a href="/login">Connexion</a>
                    <a href="/signup">Inscription</a>
                    {% endif %}
                </nav>
            </div>
        </header>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}

        <div class="layout-container">
            {% block precontent %}{% endblock %}
            <main>
                <div class="info-box">
                    {% block content %}{% endblock %}
                </div>
            </main>
            {% block postcontent %}{% endblock %}
        </div>
        
        
        <footer>
            <p>&copy; 2025 Ma Banque — Tous droits réservés.</p>
        </footer>
    </div>
</body>
</html>

{% block scripts %}{% endblock %}

<script>
    number_textboxes = document.getElementsByClassName ("number-textbox");
    for (element of number_textboxes)
    {
        element.addEventListener('beforeinput', (e) => {
            const char = e.data;
            const value = element.value;

            if (e.inputType !== "insertText") return;
            console.log (value)

            if (/^\d$/.test(char)) return;

            if ((char === '.' || char === ',') && (!value.includes('.') || !value.includes(','))){
                return;
            }

            e.preventDefault();
        });    
    }
</script>