{% extends "base.html" %}
{% block title %}Historique des Transactions{% endblock %}
{% block content %}

<div class="column-center">
    <div class="widget">
        <h2>Historique de vos transactions</h2>
    </div>
    <div  class="widget">

        {% if transactions %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Montant (€)</th>
                    <th>Objet</th>
                </tr>
            </thead>
            <tbody>
                {% for t in transactions %}
                <tr>
                    <td>{{ t['date'] }}</td>
                    <td class="type {{ t['type'] }}">{{ t['type'].capitalize() }}</td>
                    <td>{{ '%.2f' | format(t['amount']) }}</td>
                    <td>{{ t ['reason'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Aucune transaction enregistrée.</p>
        {% endif %}

    </div>
</div>

{% endblock %}
