{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}

<div class="column-center">
    <div class="widget">
        <h2>Connexion</h2>
    </div>
    
    <div class="widget">
        <form method="post" action="/login">
            <div class="single-liner">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="single-liner">
                <input type="password" name="password" placeholder="Mot de passe" required>
            </div>
        
            <button type="submit" class="btn">Se connecter</button>
            <a href="/signup" class="link">Pas encore de compte ? Inscription</a>
        </form>
    </div>
</div>

{% endblock %}
