{% extends "base.html" %}
{% block title %}Inscription{% endblock %}
{% block content %}
<form method="post" action="/signup" class="widget">
    <h2>Inscription</h2>
    <div class="single-liner">
        <input type="email" name="email" placeholder="Email" required>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <div class="single-liner">
        <input type="password" name="password" placeholder="Mot de passe" required>
    </div>

    <div class="single-liner">
        <input type="text" name="firstname" placeholder="Prénom" required>
    </div>

    <div class="single-liner">
        <input type="text" name="name" placeholder="Nom" required>
    </div>

    <button type="submit" class="btn">Créer un compte</button>
    <a href="/login" class="link">Déjà un compte ? Connexion</a>
</form>
{% endblock %}
